
/**Clases de CSS utilizadas para editar el carrito*/

.titulo-carrito{
    font-weight: 700;
    font-size: 20px;
    padding: 20px 0;
}

.producto{
    margin-bottom: 30px;
    align-items: center;
}

.imagen-producto{
    max-width: 100px;
    max-height: 56px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nombre-producto{
    font-size: 16px;
    padding: 5px;
    color: #4A4A4A;
}

.unidades{
    font-weight: bolder;
}

.button-unidades{
    border: 0.5px solid #d3d3d3;
    background-color: #fff;
    width: 25px;
    height: 25px;
    text-align: center;
    font-weight: bolder;
    text-align: center;
    font-size: 14px;
}

.linea-separatoria2{
    height: 2px;
    background-color: #000;
    margin-top: 0px;
    opacity: 1;
}

.eliminar{
    font-size: 13px;
    font-family: open sans,sans-serif;
    letter-spacing: 2px;
    color: #000;
    background-color: #f1f1ea;
    font-weight: bold;
}

.carrito-lleno{
    padding: 20px;
    background-color: #fff;
    border-radius: 7px;
    font-size: 15px;
    border: 1px solid #eee;
    border-radius: 7px;
    margin-top: 60px;
    max-width: 360px;
    height: fit-content;
}

.carrito-iva{
    padding: 5px 0 0;
}

.carrito-gastos-envio{
    color: #7ed321;
    font: 700;
    padding: 5px 0;
}

.postal{
    color:grey;
    font-weight:normal;
    font-size: 12px;
    display: block;
}

.linea-separatoria-negra{
    height: 15px;
    border-bottom: 2px solid #000;
    margin-bottom: 15px
}

.carrito-total{
    font-size: 20px;
    font-weight: 700;
}

.btn-ver-cesta{
    margin-top: 20px;
}

.button-finalizar{
    font-size: 13px;
    letter-spacing: 2px;
    color: #fff!important;
    background-color: var(--bg-button);
    width: 318px;
}

.button-finalizar:hover{
    background-color: var(--bg-buttonH);
}

.align-precios{
    display: flex;
    justify-content: center;
}



