
/**Clases de CSS utilizadas para editar el Footer*/

.footer-color{
    background-color: var(--bg-colorFooter);
    color: white;
    padding: 50px;
}

.imagenes{
    max-width: 112px;
}

.pago-b{
    padding-bottom: 40px;
}
.redes{
    margin-bottom: 70px;
    justify-content: center;
}

.row-redes{
    height: 28px;
}

.col-3-redes{
    width: 70px;
}

.icono{
    width: 28px;
    height: 28px;
    display: flex;
    overflow: hidden;
}


.facebook{
    background-image: url(/assets/images/Footer/facebook.png);
    width: 100%;
    height: 100%;
    background-size: cover;
}

.facebook:hover{
    background-image: url(/assets/images/Footer/facebookHover.png);
}

.twitter{
    background-image: url(/assets/images/Footer/twitter.png);
    width: 100%;
    height: 100%;
    background-size: cover;
}

.twitter:hover{
    background-image: url(/assets/images/Footer/twitterHover.png);
}

.instagram{
    background-image: url(/assets/images/Footer/instagram.png);
    width: 100%;
    height: 100%;
    background-size: cover;
}

.instagram:hover{
    background-image: url(/assets/images/Footer/instagramHover.png);
}

.gt{
    background-image: url(/assets/images/Footer/GT.png);
    width: 100%;
    height: 100%;
    background-size: cover;
}

.gt:hover{
    background-image: url(/assets/images/Footer/GTHover.png);
}

.copy{
    margin-bottom: 20px;
}

